.done {
  background: #649f64;
  color: #fff;
  font-weight: bold;
  /* visibility: visible; */
}

.board-num {
  color: #fff;
  /* visibility: hidden; */
}

.board-manager {
  bottom: 50px;
  position: fixed;
  width: 100%;
}

.new-num {
  margin-bottom: 50px;
}